@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Verdana, sans-serif !important;
}

body {
  background-color: #e4e4e4;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.h-screen {
  height: 100dvh;
}

.w-400 {
  width: 400px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-white {
  background-color: #ffff;
  border: 1px solid #979696;
  border-radius: 5px;
}

.text-primary {
  color: #205e61;
}

.text-secondary {
  color: #d61355;
}

input {
  height: 45px !important;
}

.ant-input-affix-wrapper-focused {
  border-color: #494949 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.ant-input-affix-wrapper:hover {
  border-color: #979696;
}

.contained-btn {
  width: 100%;
  height: 45px;
  border: 0;
  background-color: #000;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.contained-btn:hover {
  border: 1px solid #fff;
  background-color: #909090;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  color: #363636;
  text-decoration: underline;
}

.pass-strength {
  display: flex;
  align-items: center;
  margin-top: -15px;
}

.strength-label {
  font-size: 12px;
  margin-left: 10px;
}

.strength-percent {
  flex: 1;
  height: 5px;
  border-radius: 10px;
  display: block;
  background: #eee;
}

.strength-percent span {
  display: block;
  height: 100%;
  transition: all 0.4s;
  border-radius: 10px;
}

.weak {
  background: #909090;
  width: 33%;
}

.average {
  background: rgb(167, 214, 119);
  width: 66%;
}

.strong {
  background: rgb(33, 168, 91);
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.gap-small {
  gap: 5px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}
